.container
    max-width: 960px
    padding: 10px
    margin: auto

.number
    font-size: 0.8em
    color: #aaa

.stamp-img
    max-width: 50%

.gap-1
    padding-bottom: 0.8em

.gap-2
    padding-bottom: 2em

// debug grid
.pure-g
    // border: 1px solid rgba(0, 0, 0, 0.2)

.cell
    padding: 0 8px

a
    color: black

html
    overflow-y: scroll
    padding-bottom: 80px

.ng-cloak
    display: none !important
