-inherit base.html

-block content
  .pure-g

    / header
    .pure-u-1-2.pure-u-md-1-5
      .cell
        h1 stamps
    .pure-u-1-2.pure-u-md-4-5
      .cell
        a href=url_for('frontend.search')
          h1 explore

    / themes
    .pure-u-1.pure-u-md-1-5.gap-1
      .cell
        strong themes
    .pure-u-1.pure-u-md-4-5.gap-2
      .pure-g
        -for theme in themes
          .pure-u-1-2.pure-u-md-1-3.gap-1
            .cell
              =theme['_id']
              .number =,theme['count']
                | stamps

    / countries
    .pure-u-1.pure-u-md-1-5.gap-1
      .cell
        strong countries
    .pure-u-1.pure-u-md-4-5.gap-2
      .pure-g
        -for country in countries
          .pure-u-1-2.pure-u-md-1-3.gap-1
            .cell
              =country['_id']
              .number =,country['count']
                | stamps
