{% extends "base.html" %}

{% block body %}
    <h1>stamps</h1>

    <div class="pure-g gap-2">
        <div class="pure-u-1-5">
            <strong>themes</strong>
        </div>
        <div class="pure-u-4-5">
            {% for row in themes | batch(3) %}
                {% set i = loop.index0 %}
                <div class="pure-g gap-1">
                    {% for theme in row %}
                    <div class="pure-u-1-3">
                        <span class="number">{{ i * 3 + loop.index }}</span>
                        {{ theme }}
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="pure-g gap-2">
        <div class="pure-u-1-5">
            <strong>countires</strong>
        </div>
        <div class="pure-u-4-5">
            {% for row in countries | batch(3) %}
                {% set i = loop.index0 %}
                <div class="pure-g gap-1">
                    {% for country in row %}
                    <div class="pure-u-1-3">
                        <span class="number">{{ i * 3 + loop.index }}</span>
                        {{ country }}
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
