-inherit base.html

-block content
  .pure-g

    / header
    .pure-u-1-5
      .cell
        h1 stamps
    .pure-u-4-5
      .cell
        a href=url_for('frontend.search')
          h1 explore

    / themes
    .pure-g.gap-2
      .pure-u-1-5
        .cell
          strong themes
      .pure-u-4-5
        .pure-g
          -for theme in themes
            .pure-u-1-3.gap-1
              .cell
                span.number =,loop.index + 1
                =theme

    / countries
    .pure-g.gap-2
      .pure-u-1-5
        .cell
          strong countries
      .pure-u-4-5
        .pure-g
          -for country in countries
            .pure-u-1-3.gap-1
              .cell
                span.number =,loop.index + 1
                =country
