{% extends "base.html" %}

{% block body %}

<div ng-controller="SearchCtrl">

<div class="pure-g">
    <div class="pure-u-1-5">
        <div class="cell">
            <h1>explore</h1>
        </div>
    </div>
    <div class="pure-u-4-5">
        <div class="cell">
            {% raw %}
            <h1 ng-show="busy">searching…</h1>
            <h1 ng-hide="busy">found {{ results.count }} stamps</h1>
            {% endraw %}
        </div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1-5">
        <form class="pure-form pure-form-stacked">
        <fieldset>
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="cell">
                    <label>country</label>
                    <select class="pure-input-1" ng-model="filters.country" ng-change="reset_search()" ng-options="country for country in countries"></select>

                    <label>theme</label>
                    <select class="pure-input-1" ng-model="filters.theme" ng-change="reset_search()" ng-options="theme for theme in themes"></select>

                    <label>year</label>
                    <select class="pure-input-1" ng-model="filters.year" ng-change="reset_search()" ng-options="year for year in years"></select>
                </div>
            </div>

        </div>
        </fieldset>
        </form>
    </div>
    <div class="pure-u-4-5">
        <div class="pure-g" when-scrolled="next_page()">
            <div class="pure-u-1-3 gap-2" ng-repeat="stamp in stamps">
                <div class="cell">
                    {% raw %}
                    <a href="/stamp/{{ stamp._id }}">
                        <img class="pure-img gap-1" ng-src="{{ stamp.image['250'] }}">
                        <div class="gap-1">{{ stamp.subject }}</div>
                    </a>
                    <div class="secondary">{{ stamp.country }}</div>
                    {% endraw %}
                </div>
            </div>
            {% raw %}
            <div class="pure-u-1" ng-show="busy && filters.skip > 0">
                <div class="cell">
                    <h1>{{ results.count - filters.skip }} to go…</h1>
                </div>
            </div>
            {% endraw %}
        </div>
    </div>
</div>


{% endblock %}
