-inherit base.html

/ text blocks
-def info(header, tag=None, gap=1)
  .pure-u-1-5
    .cell
      strong =header
  .pure-u-4-5 class=('gap-' + str(gap))
    .cell
      =stamp.get(tag) or stamp[header]


-block content
  .pure-g

    / subject
    .pure-u-1
      .cell
        h1 =stamp['subject']

    / image
    .pure-u-1-5
      .cell
        strong image
    .pure-u-4-5.gap-2
      .cell
        img.stamp-img src=stamp['image']['full']


    / theme
    .pure-u-1-5
      .cell
        strong theme
    .pure-u-4-5
      .pure-g
        -for theme in stamp['theme']
          .pure-u-1-3.gap-1
            .cell
              span.number =,loop.index + 1
              =theme

    / country
    =info('country', gap=2)

    / date
    .pure-u-1-5
      .cell
        strong date
    .pure-u-4-5.gap-1
      .cell
        =stamp['date'].strftime('%d %B %Y')

    / issuer
    =info('issuer')

    /printer
    =info('printer', gap=2)

    / size
    .pure-u-1-5
      .cell
        strong size
    .pure-u-4-5.gap-1
      .cell
        =,stamp['size']['width']
        , ×
        =stamp['size']['width']

    / format
    =info('format / layout', tag='layout')

    / perforations
    =info('perforations', gap=2)

    / denomination
    =info('denomination', gap=2)

    / wns number
    =info('wns number', tag='_id')

    / api
    .pure-u-1-5
      .cell
        strong api
    .pure-u-4-5.gap-2
      .cell
        a href=url_for('api.stamp', wns=stamp['_id'])
          | view

    / set
    .pure-u-1-5
      .cell
        strong in set with
    .pure-u-4-5
      .pure-g
        -for other in stamp['set']
          .pure-u-1-3.gap-1
            .cell
              a href=url_for('frontend.stamp', wns=other['_id'])
                img.pure-img.gap-1 src=other['image']['250']
              span.number
                =,loop.index + 1
              =other['_id']
